mixin songItem(song, active = '')
    a(class=`song ${active}`,href=`/music/${song.slug}`)
        img.thumb(src=song.image)
        .body
            h3.title= song.name
            p.author= song.singer
        .option
            i.fas.fa-ellipsis-h
